/* mobile first dimensão do mobile 375px*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --cor-principal: hsl(25, 97%, 53%); /*Orange 500*/
    --cor-titulo-principal:hsl(0, 100%, 100%); /*White*/
    --card-primeira-paleta:hsla(217, 12%, 63%, 0.999); /*Grey 500*/
    --card-primeira-paleta-botoes:hsla(217, 12%, 63%, 0.215);
    --card-segunda-paleta:hsl(213, 19%, 18%); /*Grey 900*/
    --card-terceira-paleta: hsl(216, 12%, 8%); /*Grey 950*/
    --fonte-principal:"Overpass", sans-serif;/*Weights: 400, 700*/
}

*{
    box-sizing: border-box;
    margin:0;
}

body{
    background-color: var(--card-terceira-paleta);
    justify-items: center;
    
}

article{
    margin:15vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: var(--card-segunda-paleta);
    padding: 20px;
    gap: 10px;
    width: 380px;
    
}

.icone-principal{
    background-color:var(--card-primeira-paleta-botoes);
    height:auto;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    
}

h1{
    font-family: var(--fonte-principal);
    color:var(--cor-titulo-principal);
    font-size: 4vh;
    margin-top: 10px;
    display: flex;
    justify-content: left;
}

p{
    color:var(--card-primeira-paleta);
    font-family: var(--fonte-principal);
}

form{
    display: flex;
    justify-content: space-around;
}

input{
    display: none;
}

label{
    text-align: center;
    align-items: center;
    border-radius: 50%;
    background-color:var(--card-primeira-paleta-botoes);
    padding: 15px;
    height: auto;
    width: 50px;
    font-family: var(--fonte-principal);
    font-weight: 700;
    color:var(--card-primeira-paleta);
}
.Submit{
    margin:10px 0 10px;
    border-radius:20px;
    border: 1px var(--card-segunda-paleta);
    color:var(--card-terceira-paleta);
    padding: 10px;
    font-family: var(--fonte-principal);
    background-color: var(--cor-principal);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
}
















